<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/formularios.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-top-bar">
            <img src="/img/images/logo-mercado-liebre.svg" alt="logo" class="logo" />
            <form  action="/buscar" method="GET" class="search-bar">
                <input type="search" placeholder="Buscar productos, marcas" class="search">
                <button type="submit" class="searchButton butt">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
            <h2><i class="fa-solid fa-hand-holding-dollar" style="color: #000000;"></i>Compra en coutas y sin tarjeta de
                credito</h2>
        </div>
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>

            <ul class="right-navbar">
                <li><a href="/views/register.html">Crea tu cuenta <i class="fa-regular fa-id-card" style="color: #000000;"></i></a></li>
                <li><a href="/views/login.html">Ingresa <i class="fa-solid fa-right-to-bracket" style="color: #000000;"></i></a></li>
                <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping" style="color: #000000;"></i></a></li>
            </ul>
        </nav>
        </div>
    </header>
    <form action="/register" method="POST" class="form">
        <h1>Registro de Usuario</h1>
      <div class="control-formulario">
        <input type="text" id="nombre" name="nombre" class="control" placeholder="Nombre y Apellido:" required>
      </div>
      
      <div class="control-formulario">
        <input type="text" id="usuario" name="usuario" class="control" placeholder="Nombre de Usuario:" required pattern=".{2,}" title="El nombre debe tener al menos 2 caracteres">
      </div>
      
      <div class="control-formulario">
        <label for="fechaNacimiento">Fecha de Nacimiento:</label>
        <input type="date" id="fechaNacimiento" name="fechaNacimiento" class="control" required>
      </div>
      
      <div class="control-formulario">
        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" class="control" required>
      </div>
      
      <div class="control-formulario">
        <label for="perfil">Perfil del Usuario:</label>
        <select id="perfil" name="perfil" class="control" class="control" required>
          <option value="comprador">Comprador</option>
          <option value="vendedor">Vendedor</option>
        </select>
      </div>
      
      <div class="control-formulario">
        <label for="categorias">Categorías de Interés:</label>

        <label for="electro">Electro <input type="checkbox"></label>
        <label for="moda">Moda <input type="checkbox"></label>
        <label for="hogar">Hogar <input type="checkbox"></label>
        <label for="jugueteria">Juguetería <input type="checkbox"></label>
        <label for="vidaSana">Vida Sana <input type="checkbox"></label>
      </div>
      
      <div class="control-formulario">
        <label for="foto">Foto de Usuario:</label>
        <input type="file" id="foto" name="foto" accept="image/*" class="control" required>
      </div>
      
      <div class="control-formulario">
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" name="contrasena" class="control" required>
      </div>
      
      <div class="control-formulario">
        <label for="confirmarContrasena">Confirmar Contraseña:</label>
        <input type="password" id="confirmarContrasena" name="confirmarContrasena" class="control" required>
      </div>
      
      <button type="submit" class="boton">Enviar</button>
      <button type="reset" class="boton">Borrar</button>
    </form>
    <footer>
      <div class="contenido">
          <div class="foot">
              <div>
                  <i class="fa-solid fa-credit-card" ></i>
                  <h3>Pagá con tarjeta o en efectivo</h3>
                  <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                      puntos de pago. ¡Y siempre es seguro!</p>
              </div>

              <div>
                  <i class="fa-solid fa-gift" ></i>
                  <h3>Envío gratis desde $ 2.500</h3>
                  <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                      productos. Es un beneficio de Mercado Puntos.</p>
              </div>

              <div>
                  <i class="fa-solid fa-user-shield" ></i>
                  <h3>Seguridad, de principio a fin</h3>
                  <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
                      siempre
                      protegid@.</p>
              </div>
          </div >
          <div>
              <h4 class="copy">Copyright © 1999-2023 MercadoLiebre S.R.L.</h4>
          </div>
      </div>
  </footer>
</body>
</html>