/* Formulario*/

.create-form{
    padding: 15px 20px;
    }
    
    .control-formulario{
      margin-bottom: 15px;
    }
    
    .control-formulario label{
      margin-bottom: 5px;
      font-style: italic;
      display: block;
    }
    
    .control{
      width: 100%;
      padding: 8px 8px;
    }
    
    .boton{
      background-color: #39b54a;
      border: none;
      color: #FFF;
      font-size: 20px;
      border-radius: 8px;
      padding: 5px 10px;
    }