@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

/* Header */

.main-header{
  background-color: #eac92c;
  padding: 20px;
  /* position: fixed;
  top: 0; */
}

.main-header-top-bar{
  display: flex;
  flex-wrap: wrap;
}


.logo{
width: 130px;
}

.copy-header{
  font-weight: 400px;
  text-align: center;
}

.hamburguer-button{
  background-color: #03264c;
  color: #FFF;
  display: block;
  max-width: 50px;
  padding: 15px 0;
  border-radius: 8px;
  text-align: center;
  font-size: 18px;
  margin: auto;
}

.main-navbar{
  display: none;
}

.main-navbar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navbar a{
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}

.search-bar{
  display: flex;
    justify-content: center;
    align-items: center;
    max-width: 200px;
    margin-left: 20px;
}

.search{
 border: none;
 
}

.butt{
  background-color: #FFF;
  margin: 0;
  border: none;
  
}

p {
  font-size: 12px;
  line-height: 4px;
}

.nombre-p {
  color: #666;
}

.nombre-p p{
  display: none;
}

header h2{
  font-size: 16px;
}

h2 {
  font-size: 24px;
}

h4 {
  font-size: 14px;
  margin: 0;
}


.burger-menu {
  font-size: 30px;
  background-color: #1259c3;
  color: white;
  border-radius: 8px;
  width: 50px;
  height: 50px;
  margin-left: 130px;
}

.burger-menu i {
  margin-top: 10px;
  margin-left: 13px;
}

/* Main */

main {
  box-sizing: border-box;
  width: 100%;
  padding: 20px 20px;
  text-align: left;
  background-color: #ebebeb;
}

article {
  margin: 10px;
  background-color: white;
}

article:hover {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

div img {
  width: 90%;
}

p.nombre-p {
  line-height: 10px;
  margin-bottom: 0px;
  margin-top: 35px;
}

.articulos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.producto-container{
  width: 430px;
  min-width: 300px;
}



.logo-container{
  align-items: center;
  justify-content: center;
}

.datos-container {
  border-top: 1px solid #ebebeb;
  padding: 15px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.pre-des{
  display: flex;
  flex-direction: row;
  height: 20px;
  width: 100%;
  margin: 0;
  padding: 0;
}

.precio {
  font-size: 18px;
  width: 30%;
  margin: 0;
  margin-top: 10px;
}

.descuento {
  font-size: 16px;
  color: #39b54a;
  width: 70%;
  margin: 0;
  margin-left: 25%;
  margin-top: 10px;
}

.descripciones {
  font-size: 16px;
}

.producto-container:hover{
  .nombre-p{
    display: flex;
  }
}
main section article i{
  display: block;
  font-size: 16px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  background-color: #FFF;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  top: -15px;
  color: #39b54a;
  transition: transform 0.3s ease;
  }

  main section article i:hover {
    transform: rotate(-90deg);
}

/* Footer */

footer {
  text-align: center; /* Centrar el contenido */
  margin-top: 60px;
}

.contenido {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px; /* Margen inferior de separación de 10 píxeles */
}

.foot{
  display: flex;
  flex-direction: row;
}

.contenido i {
  font-size: 2em; /* Tamaño de los íconos de 2em */
}

.contenido h3 {
  color: #666;
}

.contenido p {
  color: #8d8888;
  line-height: normal;
}

.contenido h4 {
  color: #666;
  font-weight: normal;
}

h4.copy {
  margin-top: 35px;
  display: flex;
  justify-content: flex-start;
  margin-left: 20px;
}

div.foot div i{
  color: #1259c3;
  transition: all 0.5s;
}

div.foot div i:hover{
 color: #39b54a;
}

/* Estilos para dispositivos móviles (hasta 360px) */

@media (max-width: 410px) {
  ul.sin-punto {
    display: none;
  }
}

/* Estilos para tablets (a partir de 420px) */
@media (min-width: 420px) {
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  
  }

 

  .burger-menu {
    display: none;
  }
}

/* Estilos para desktop (a partir de 769px) */
@media screen and (min-width: 769px) {
  article {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
  }

  .main-header-top-bar{
    display: flex;
    justify-content: space-between;
  }
  
  .copy-header{
    max-width: 350px;
    text-align: right;
  }

  .hamburguer-button{
    display: none;
  }

  .main-navbar{
    display: flex;
    justify-content: space-between;
  }

  .main-navbar ul {
    display: flex;
  }

  .main-navbar li {
    padding: 5px;
    
  }
}

@media (max-width:560px) {

  .foot{
    display: flex;
    flex-direction: column;
  }
  
}
